
*
{

  margin: 0px;  
  padding: 0px;

}


/* Parent height*/


html{

height: 100%;

}



body{

margin: 0;
border: 0;
padding: 0;

}


.gameinterface{

  background-image:url(../img/topviewimg.jpeg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;


}


/* Define Road Style */

#road{

  background-image: url(../img/road.jpeg);
  width: 500px;
  height:100%;
  background-position: center;
  background-size: contain;
  position: absolute;
   top: 0px;
  background-repeat:repeat-y;
  z-index: 0;
  /*
  animation-name: road;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
*/
  }
  



.btn

{

position: absolute;
top: 100px;
font-size: 30px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 14px 50px;
background-color: rgb(47, 171, 40);
border-radius: 6px;
cursor: pointer;
z-index: 1001;

}
.btn:hover{
background-color: rgb(35, 165, 35);
}



#score{

   position: absolute;
   top: 30px;
   right: 200px;  
   font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-color: azure;
   padding: 10px 10px;
   border-radius: 4px;
   z-index: 1001;
}




.items img {

  width: 60px;
  height: 160px;
  position: relative;
  z-index: 1001;


}




#mainCar {

position: absolute;
bottom: 45px ;
left: 700px;
z-index: 1000;



}



#mainCar img {


  width: 80px;
  height: 200px;
  z-index: 1000;
  /*border: 2px solid red; */

}



#car1 {

  position: relative;
  left: 170px;
 /* left: 197px ; max left*/
 /* left: 150px; min left*/
  right: 20px;
  top: 40px;
  display: grid;
   place-items: center;
   z-index: 1000;

  /*border: 2px solid red;*/

  /*
  animation-name: voiture1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  
}



#car2 {
  
  position: relative;

 left: 75px; 

  /*  left: 88px; max left*/

/*  left: 40px ;min left*/

  top: -150px;
  /*top: 65px; actual top position*/


  display: grid;
  place-items: center;
  z-index: 1000;
  /*border: 2px solid red;*/
/*
  animation-name: voiture2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
   animation-timing-function: linear; */

}


#car3 {
  
  position: relative;
  left: -40px;

/* left: -22px;max left*/
/*left: -90px;min left*/



  top: -200px;
  /* top: -300px; actual top position */


  display: grid;
  place-items: center;
  z-index: 1000;
  /*border: 2px solid red;*/
  /*
  animation-name: voiture3;
  animation-duration: 7s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
 */ 
}


#car4 {
  
  position: relative;

  left:-170px; /*actual left*/

 /* left: -152px;max left*/
/*left: -197px;min left*/


  /* top: -300px; actual top position */
top: -450px;

  display: grid;
  place-items: center;
  z-index: 1000;
 /* border: 2px solid red;*/
/*
  animation-name: voiture4;
  animation-duration: 6s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear; */

}


/* Animations for car movements */

@keyframes voiture1 {

  from { top: 0px;}

  to { top: 100vh; }

}


@keyframes voiture2 {

 from { top: 0px;

  }

  to {
    top:100vh ;
  }

}



@keyframes voiture3 {

  0% { top: 0px;

  }

  100% {
    top:100vh ;
  }
}



@keyframes voiture4 {

  0% { top: 0px;

   }

  100% {
    top:100vh ;
  }

}



@keyframes road {

  from {

      background-position: center top; /* Start position */

  }

  to {

      background-position: center bottom; /* End position */

  }



}