
/* Home Page Style*/

* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
    }
    
    
    /* set from the root element*/
    
    html{
    
      height: 100%;
    
    }
    
    
    body {
    
    height: 100%;
    margin: 0px;
    padding: 0px;
    
    }
    
    
    .pageOne{
    
    
      background-image: url(../img/topviewimg.jpeg);
      margin: 0px;
      max-width: 100vw;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
    }
    
    
    .content{
    
      padding: 0px;
      margin: 0px;
      max-width: 100%;
      height: 100%;
     
    
    }
    
    
    
    h1{
    
    text-align: center;
    font-size: 50px;
    position: relative;
    top:20px;
    height: 90px;
    color:black;
    margin: 0px;
    
    
    }
    
    
    
    .leftmenu {
    
    text-decoration: none;
    list-style-type: none;
    position:absolute;
    top: 57px;
    left:7%;
    width: 50%;
    
    }
    
    
    
    .leftmenu a{
    
      
      color: black;
      background-color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
    
    
    }
    
    
    .rightmenu {
    
      list-style-type: none;
      position:absolute;
      top: 57px;
      left: 65%;
      
      }
      
    
    .rightmenu a{
    
    
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
    
    }  
    
    
    .menu li {
      
    display: inline-block;
    margin: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 22px;
    
    
    
    }
    
    .ranking {
    
      color: black;
      background-color: white;
    }
    
    .register {
      color: black;
      background-color: white;
    
    
    }
    
    .login {
    
      color: white;
      background-color: black;
    
    }
    
    .leftmenu a:hover,.ranking:hover, .register:hover{
    background-color: rgb(236, 229, 229);
    
    }
    
    .login:hover{
    
      background-color: #444; 
        color: white; 
    }
    
    
    .playButton{
    
      text-decoration: none;
      font-size: 50px;
      font-family: 'Courier New', Courier, monospace;
      color:black ;
      background-color: green;
      position:absolute;
      top: 600px;
      right:200px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 4px;
      display: block;
      width: fit-content;
    
    }
    
    
    /*
    
    .playButton{
    
      text-decoration: none;
      font-size: 50px;
      font-family: 'Courier New', Courier, monospace;
      color:black ;
      background-color: green;
      position: relative;
      top: 800px;
      right: 250px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 4px;
    
    
    */
    
    .playButton:hover{
    
      background-color: rgb(36, 160, 36);
    
    }
    
    /*
    .image img{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    */
    
    
    #gameDescription{
    
    background-color:black;
    position: relative;
    left: 250px;
    top: 50px;
    width:1000px;
    height: 170px;
    padding: 17px;
    border: 3px solid black;
    border-radius: 7px;
    z-index: 1;
    
    }
    
    #gameDescription h2{
    
      color: white;
    
    }
    
    
    
    
    #gameDescription p{
    
      color: white;
      font-size: 17px;
    
    }
    
    
    .allRules h2{
    
    position: relative;
    background-color: ;
    font-size: 30px;
    left: 700px;
    top: 67px;
    }
    
    .ruleBox {
    
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24%;
      height: 400px; 
      padding: 10px;
      float: left;
      margin-right: 7px;
      margin-left: 100px ; 
      padding-top: 300px;
      border: 3px solid black;
      margin-top: 100px;
    
    }
    
    .ruleBox h4{
    
      position: relative;
      bottom: 120px;
      border: 3px solid black;
    
    }
    
    
    .ruleBox p{
    
      position: relative;
      bottom: 50px;
      right: 10px;
      margin-top:10px ;
      border: 3px solid black;
      font-size: 20px;
      overflow:hidden;
    
      }
    
    
    #ruleBox1{
    
    
    background-image:url(../img/rule1.png) ;
    background-size: cover;
    background-size: 350px 200px;
    background-repeat: no-repeat;
    background-position:relative ;
    
    }
    
    
    
    #ruleBox2{
    
      background-image:url(../img/rule2.png) ;
      background-size: 350px 200px;
      background-repeat: no-repeat;
      background-position:relative ;
    
    }
    
    
    #ruleBox3{
    
    
      background-image: url(../img/rule3.png);
      background-size: 350px 200px;
      background-repeat: no-repeat;
      background-position:relative ;
    
    }
    
    
    
    
    
    /*
    .allRules::after{
      content: '';
      display: table;
      clear: both;  
      }
      */
    
    footer{
    
        background-color: black;
        position: static;
        text-align:center;
        color: azure;
        bottom:0;
        width: 100%;
        height: 200px;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    
    
     h3 {
    
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 35px;
    
    }
    
    .foot ul {
    
    position: relative;
    top: 90px;
    list-style-type: none;
    font-size:25px ;
    
    }
    
    
    .foot ul li{
    
      display: inline;
      padding: 40px;
    
    }
    
    .foot a{
    
     text-decoration: none;
     color: white;
    
    }
    
    .socials{
    
    font-size: 25px;
    position: relative;
    left: 530px;
    
    }
    
    .bttm{
    
      position: relative;
      top: 120px;
    
    }