* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    
    }


    /* set from the root element*/

html{

    height: 100%;
  
  }
  
  
  body {
  
  height: 100%;
  margin: 0px;
  padding: 0px;
  
  }
  
  


  /* Log in  Page */

.logIn{

  
    background-image: url(../img/topviewimg.jpeg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  

  }




.container{

    position: relative;
    top:20%;
    left:470px;
    padding:30px;
    width: 500px;
    height:600px ;
    background-color:white;
    border-radius:7px;
    z-index:1;
    display: inline-block;
    box-sizing: border-box;
    
  }
    
    .container h1{
    
      text-align: center;
      font-size:50px ;
    }
    
    .inputBox{
    
    padding: 50px;
    font-size: 20px;
    
    }
    
    
    input[type=email],select{
    
     
    width: 100%;
    height:45px;
    padding: 10px;
    margin:8px ;
    border-radius: 4px;
    border: 1px solid grey;
    display: inline-block;
    box-sizing: border-box;
    
    }
    
    
    input[type=password],select{
      width: 100%;
      height:45px;
      margin:8px ;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid grey;
      display: inline-block;
      box-sizing: border-box;
      
      }


      input[type=checkbox],select{
  
        width: 20px;
        height:45px;
        margin:8px ;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid grey;
        display: inline-block;
        box-sizing: border-box;
      
      }

      .Submit{

        padding: 10px 30px;
        background-color: rgb(47, 171, 40);
        border-radius: 6px;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        left: 280px;
        bottom:30px ;
    
      }



  #checkemail{

    font-size:17px ;
    color: red;
    font-weight: 550;
    position: relative;
    left: 10px;
    bottom: 8px;
    padding: 0px;
    

      }



  #checkpsw{

    font-size:17px ;
    color: red;
    font-weight: 550;
    position: relative;
    left: 10px;
    bottom: 45px;
    padding: 0px;
    
      }

      .fa-arrow-left{

        font-size: 50px;
        color:black;
        position:absolute;
        left: 50px ;
        top:0px ;
        cursor: pointer;
    
         }
    
         .fa-arrow-left:hover{
           color: white;
         }