* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    
    
    }


    /* set from the root element*/

html{

    height: 100%;
  
  }
  
  
  body {
  
  height: 100%;
  margin: 0px;
  padding: 0px;
  
  }
  
  


/* Sign up Page */

.signUp{

  
    background-image: url(../img/topviewimg.jpeg);
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  
  
  
  }
  
  
  
  .container{
  
  position: relative;
  top:70px;
  left:25%;
  padding:30px;
  width: 600px;
  height:750px ;
  background-color:white;
  border-radius:7px;
  z-index:1;
  display: inline-block;
  box-sizing: border-box;
  
  }
  
  .container h2{
  
    text-align: center;
    font-size:50px ;

  }
  
  .inputBox{
  
  
  padding: 50px;
  font-size: 20px;
  
  
  }
  
  
  input[type=text],select{
  
    width: 100%;
    height:45px;
    margin:8px ;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(125, 123, 123);
    display: inline-block;
    box-sizing: border-box;
  
  }
  
  input[type=email]{
  
    width: 100%;
    height:45px;
    padding: 10px;
    margin:8px ;
    border-radius: 4px;
    border: 1px solid grey;
    display: inline-block;
    box-sizing: border-box;
  }
  
  input[type=tel]{
  
    width: 100%;
    height:45px;
    padding: 10px;
    margin:8px ;
    border-radius: 4px;
    border: 1px solid grey;
    display: inline-block;
    box-sizing: border-box;
  }
  


  input[type=password],select{
  
    width: 100%;
    height:45px;
    margin:8px ;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid grey;
    display: inline-block;
    box-sizing: border-box;
  
  }

  .Submit{

    padding: 10px 30px;
    background-color: rgb(47, 171, 40);
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    left: 230px;
    bottom:40px ;

  }

  #checkemail{

font-size:17px ;
color: red;
font-weight: 550;
position: relative;
left: 10px;
bottom: 10px;
padding: 0px;

  }


  #checkphn{

    font-size:17px ;
    color: red;
    font-weight: 550;
    position: relative;
    left: 10px;
    bottom: 10px;
    padding: 0px;
    
      }
    


  #checkpsw {

    font-size:16px ;
    color: red;
    font-weight: 550;
    position: relative;
    left: 10px;
    bottom: 10px;
    margin:0px;
    padding: 0px;
  

  }


  .fa-arrow-left{

    font-size: 50px;
    color:black;
    position:absolute;
    left: 50px ;
    top:0px ;
    cursor: pointer;

     }

     .fa-arrow-left:hover{
       color: white;
     }